@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Baloo 2", cursive;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#second {
  color: #009999;
}
.nav-right {
  display: flex;
  flex-direction: row;
}
h1 {
  margin-top: 30px;
}

.nav-middle ul {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  padding-right: 60px;
}

li {
  list-style: none;
  margin: 50px;
  font-size: 20px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: gray;
  border-bottom: 1px solid black;
}
#header-img {
  height: 100px;
  width: 100px;
}
button {
  margin-left: 10px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: black;
  border: 1px solid black;
}
button:hover {
  background-color: lightgray;
}
.form-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
h2 {
  margin-bottom: 10px;
}
#submit {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
#email {
  padding: 10px;
}
#section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#simg {
  max-width: 100%;
  max-height: 100%;
}
.image {
  height: 100px;
  width: 100px;
  margin-top: 25px;
}
.feature-container {
  padding-left: 100px;
  padding-bottom: 100px;
}
.features {
  display: flex;
}
.features div {
  padding-top: 40px;
}
.features div {
  margin-left: 50px;
}
p {
  padding-top: 15px;
}
body {
  font-family: "Baloo 2", cursive;
}
section {
  padding-left: 390px;
  padding-bottom: 80px;
}
.subscription {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 500px;
}
.subscription div {
  border: 1px solid black;
  background-color: #f0f0f6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
}
.subscription div p {
  padding-left: 20px;
  line-height: 50px;
}
#price {
  color: green;
}
.sp {
  background-color: #008b8b;
  color: white;
  padding: 15px;
}
#special-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 50px;
}
.sub-buttons {
  background-color: #5f9ea0;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  color: white;
}

footer {
  width: 100%;
  background-color: lightgray;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-content div {
  padding: 5px;
}
.footer-sub {
  display: flex;
  flex-direction: row;
}
#sp-pad {
  padding-top: 10px;
}
